<%- include ('../layouts/adminHeader.ejs') %>



<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">Men In Town</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/admin/home" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/admin/user" class="nav-item nav-link"><i class="fa fa-th me-2"></i>User</a>
            <a href="/admin/category" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Categories</a>
            <a href="/admin/product" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Products</a>
            <a href="/admin/order" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Orders</a>
            <a href="/admin/banner" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Banners</a>
            <a href="/admin/loadCoupon" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Coupon</a>

            
            <!-- <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Administration</a>
            <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Coupon</a> -->

        </div>
    </nav>
</div>
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <input class="form-control bg-dark border-0" type="search" placeholder="Search">
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Notification</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">Admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="/admin/logout" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>




<h1 class="text-center text-light my-5"> Add Product</h1>
<h3  style="color: red;text-align: center;" ><%=message%></h3>
    <form action="/admin/add-product" method="post" style="margin-left: 15%;width: 50%;"  enctype="multipart/form-data" >
        <fieldset>
        <!-- Text input-->

        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="product_name">Name</label>
          <br>
          <input id="product_name" name="pName" placeholder="Name" class="form-control input-md highlight" required="" type="text">
            
          <!-- Text input-->
            <label class="col-md-4 control-label" for="product_name">Stock</label>
            <br>
            <input id="product_name" name="pStock" placeholder="Stock" class="form-control input-md highlight" required="" type="number">
              
          
            <label class="col-md-4 control-label" for="product_name">category</label>
            <br>
            <select class="form-select border-white" id="exampleFormControlSelect1" aria-label="Default select example" aria-placeholder="" name="pCategory">
                <option disabled selected>select any category</option>
                <% if(category){ %>
                  <% for(let i=1;i <= category.length; i++){ %>
                    <option value="<%= category[i-1].name %>">
                      <%= category[i-1].name %>
                    </option>
                    <% } %>
                  <% }else{ %>
                    <h1>No Categories to add</h1>
                  <% } %>  
            </select>
              
                  
          
                <!-- Text input-->
            <label class="col-md-4 control-label" for="product_name">Description</label>
            <br>
            <input id="product_name" name="pDescription" placeholder="Enter Description" class="form-control input-md highlight" required="" type="text">
              
    <!-- Text input-->
            <label class="col-md-4 control-label" for="product_name">Price</label>
            <br>
            <input id="product_name" name="pPrice" placeholder="Enter price" class="form-control input-md highlight" required="" type="number">

            <!-- Text input-->
                <label class="col-md-4 control-label" for="product_name">Rating</label>
                <br>
                <input id="product_name" name="pRating" placeholder="Mark price" class="form-control input-md highlight" required="" type="text">
                  
    
         <!-- File Button --> 
            <label for="filebutton">Choose image</label>
            <br>
            <input id="filebutton" name="pImage" class="input-file" type="file" required multiple accept="image/*">
    
        
        <!-- Button -->
        <div style="margin-left: 25%;"class="my-3">
            <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-success">+Add</button>
            <a href="/admin/product"><button type="button" id="singlebutton" name="singlebutton" class="btn btn-outline-light mx-3">Go back</button></a>
        </div>
       
        </fieldset>
        </form>
       



<style>
.highlight{
border-color: aliceblue;
margin-top: 2%;
margin-bottom: 2%;
    }
</style>





<%- include ('../layouts/adminFooter.ejs') %>
